# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/todo-backend/index.js
/app/firebaseConfig.js
/todo-backend/react-prac-f6336-firebase-adminsdk-8t4kl-5c7c433dd1.json
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
